/**
 *   MAKE ELECTRON APP FEEL MORE NATIVE
 *
 *   * Prevent dragging all HTML elements, specially:
 *      - images
 *      - links (anchors)
 *
 *   * Prevent text selection
 */

:root {
    --logtab-date-width: 180px;
    --logtab-pid-width: 60px;
    --logtab-tid-width: 60px;
    --logtab-level-width: 40px;
    --logtab-tag-width: 180px;
    --logtab-log-whitespace: pre;
    --footer-height: 30px;
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: #3C3E40;
}

textarea {
    -webkit-user-select: auto;
    -webkit-user-drag: auto;
    color: #d0d0d0;
}

input {
    background-color: #2B2B2B;
    border-radius: 5px;
    border: 1px solid #202020;
    font-size: 12px;
    height: 34px;
    padding: 4px 6px 4px 6px;
    margin: 0px 4px 0px 4px;
    cursor: text;
    color: #d0d0d0;
}

select {
  /* styling */
  background-color: #2B2B2B;
  border: 1px solid #202020;
  border-radius: 5px;
  display: inline-block;
  padding: 0.5em 2.5em 0.5em 1em;
  height: 34px;
  color: #d0d0d0;

  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* arrow */
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    4px 4px,
    5px 5px,
    0px 0px;
  background-repeat: no-repeat;
}

select:hover {
    background-color: #242424;
}


button {
    height: 34px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2B2B2B;
    color: #d0d0d0;
}
button:hover {
    background-color: #242424;
}
button:active {
    background-color: #202020;
}

headerline {
    display: flex;
    margin: 8px 8px 0px 8px;
    height: 34px;
}

headertext {
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
    color: #d0d0d0;
}

logbox {
    width: 100%;
    display: block;
    flex-grow: 1;
    overflow: auto;
    -webkit-user-select: text;
    -webkit-user-drag: unset;
    -webkit-app-region: unset;
    cursor: auto;
    font-family: "Monaco", "Consolas", monospace;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: var(--footer-height);
    border-top: 1px solid #202020;
    background-color: #2B2B2B;
    color: #d0d0d0;
}

logbox::-webkit-scrollbar {
    background: #202020;
}

logbox::-webkit-scrollbar-thumb {
    background-color: #3C3E40;
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

logheaderline {
    width: 100%;
    font-size: 14px;
    display: block;
    display: inline-flex;
}

logline {
    width: 100%;
    display: block;
    -webkit-user-select: text;
    -webkit-user-drag: unset;
    -webkit-app-region: unset;
    cursor: auto;
    display: inline-flex;
}

logline:hover {
    background: #202020;
}

logtab {
    padding-left: 2px;
    padding-right: 2px;
    -webkit-user-select: text;
    -webkit-user-drag: unset;
    -webkit-app-region: unset;
    cursor: auto;
    overflow: overlay;
    text-overflow: clip;
    white-space: nowrap;
}

logtab::-webkit-scrollbar {
    display: none;
}

logtabbar {
    width: 1px;
    cursor: col-resize;
    background-color: #d0d0d0;
}

logtabspace {
    width: 1px;
}

footer {
    position: fixed; 
    left: 0px;
    bottom: 0px;
    height: var(--footer-height);
    width: 100%;
    padding: 3px 8px 3px 8px;
    border-top: 1px solid #202020;
    display: inline-flex;
}

footertext {
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
    color: #d0d0d0;
}

splitbar_large {
    width:  1px;
    height: 18px;
    margin: auto 2px auto 2px;
    background-color: #202020;
}

splitbar_small {
    width:  1px;
    height: 14px;
    margin: auto 2px auto 2px;
    background-color: #202020;
}

.logtab_title {
    text-align: center;
    background: #f0f0f0;
    padding: 4px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    cursor: default;
    overflow: unset;
}

.logtab_date {
    width: var(--logtab-date-width);
}
.logtab_pid {
    width: var(--logtab-pid-width);
    text-align: center;
}
.logtab_tid {
    width: var(--logtab-tid-width);
    text-align: center;
}
.logtab_level {
    width: var(--logtab-level-width);
    text-align: center;
}
.logtab_tag {
    width: var(--logtab-tag-width);
}
.logtab_log {
    width: 0px;
    flex-grow: 1;
    white-space: var(--logtab-log-whitespace);
}

.logtab_U {
    color: #808080;
}
.logtab_V {
    color: #d0d0d0;
}
.logtab_D {
    color: #40A0FF;
}
.logtab_I {
    color: #50D040;
}
.logtab_W {
    color: #B86060;
}
.logtab_E {
    color: #E05050;
}
.logtab_F {
    color: #C060F0;
}

.c_header_image_button {
    width: 34px;
    height: 34px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
    border-radius: 5px;
}

.c_header_image_button svg {
    fill: #d0d0d0;
}

.c_header_image_button:hover {
    background-color: #303030;
}
.c_header_image_button:active {
    background-color: #2B2B2B;
}

.c_header_image_button_clicked {
    width: 24px;
    height: 24px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px;
    border-radius: 3px;
    background-color: #2B2B2B;
}

.c_header_image_button_clicked svg {
    fill: #d0d0d0;
}

.c_header_image_button_clicked:hover {
    background-color: #282828;
}
.c_header_image_button_clicked:active {
    background-color: #242424;
}


.c_footer_image_button {
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px;
    border-radius: 5px;
}

.c_footer_image_button svg {
    fill: #d0d0d0;
}

.c_footer_image_button:hover {
    background-color: #303030;
}
.c_footer_image_button:active {
    background-color: #2B2B2B;
}

.c_footer_image_button_clicked {
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px;
    border-radius: 5px;
    background-color: #2B2B2B;
}

.c_footer_image_button_clicked svg {
    fill: #d0d0d0;
}

.c_footer_image_button_clicked:hover {
    background-color: #282828;
}
.c_footer_image_button_clicked:active {
    background-color: #242424;
}


.c_footer_split_bar {
    width:  1px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #2B2B2B;
}

.c_footer_rightside {
    display: inline-flex;
    flex-grow: 1;
    height: 24px;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.c_footer_detail {
    flex-grow: 1;
    width: 0px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: text;
    -webkit-user-drag: unset;
    -webkit-app-region: unset;
    cursor: auto;
}
